@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito&family=Open+Sans&family=Roboto&family=Zen+Kurenaido&display=swap');

.content{
	height: 70vh;
	margin:20px;
	padding:20px 10px;
	font-family: 'Roboto', sans-serif;
}
.register-form-wrapper{
	border-radius: 5px;
	box-shadow:2px 2px 12px 1px rgba(000,000,000,0.6);
	padding:15px;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
}
.footer{
	background-color: #010101;
	height:300px;
}
.left{
		background-image:url("../images/info.svg");
		background-size: contain; ;
    	background-attachment: scroll;
    	background-repeat: no-repeat;
		width: 55vw;	
		height: 66vh;
}